<div class="main.content">
    <div class="container.fluid">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-header">tabla</div>
                    <table class="table"> 
                        <tr *ngFor="let tabla of tablas">
                            <td> <p>{{tabla}}</p> </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div *ngIf="mostrar" class="col-md-2">
                <div class="card text-center">
                    <div class="card-header">RESULTADO</div>
                    <table class="table">
                        <tr *ngFor="let result of resultados">
                            <td>{{result}}</td>
                        </tr>
                    </table>
                    <button class="btn btn-primary btn-block">Mostrar/Ocultar resultados</button>
                </div>
            </div>
        </div>
        <button (click)="mostrar=!mostrar" class="btn btn-primary btn-block">Mostrar/Ocultar</button>
    </div>
</div>

